# Statement IF, ELSE IF (ELIF), ELSE

In [ ]:

x = 0
y = 5

if x < y :                        #Truthy
    print('yes')
    
if y < x :                        #Falsy
    print('yes')    
if x:                             #Falsy
    print('yes')        
if y:                             #Truthy
    print('yes')         
if 'aul' in 'grault' :            #Truthy
    print('yes')
if 'quux' in ['foo','bar','baz']: #Falsy
    print('yes')

In [3]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [4]:
hargabuku = 20000
hargamajalah = 5000
uang = 2000

if uang > hargabuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [5]:
hargabuku = 20000
hargamajalah = 5000
uang = 2000

if uang > hargabuku:
    print("beli buku")
elif uang > hargamajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [6]:
hargabuku = 20000
hargamajalah = 5000
uang = 5000

if uang > hargabuku:
    print("beli buku")
elif uang > hargamajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [7]:
hargabuku = 20000
hargamajalah = 5000
uang = 5000

if uang > hargabuku:
    print("beli buku")
elif uang >= hargamajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

beli majalah

In [ ]:
hargabuku = int(input())
hargamajalah = 5000
uang = 5000

if uang > hargabuku:
    print("beli buku")
elif uang >= hargamajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

In [9]:
name = 'Ida'
if name == 'Ida':
    print('Hello Ida')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else :
    print("kamu siapa?")

Hello Ida

In [10]:
name = 'Atmaja'
if name == 'Ida':
    print('Hello Ida')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else :
    print("kamu siapa?")

kamu siapa?

In [11]:
name = 'Atmaja'
if name == 'Ida':
    print('Hello Ida')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')

In [14]:
if 'aku' in 'aku adalah ida' : print('1'); print('2');print('3')

1
2
3

In [14]:
a = 'komitmen'
print(a[3])
print(a[1:4])
print(a[4:])
print(a[: :2])
print(a[0]+a[2]+a[4]+a[7])

i
omi
tmen
kmte
kmtn

In [15]:
mobil = ['Toyota', 'Kijang']
mobil.append('Isuzu')
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [3]:
if 'f' in 'faa' : print('1'); print('2'); print('3')

1
2
3

# Multiple Statement

In [17]:
y = 4
if y ==1: print('foo');print('yuu');print('kuy')
elif y ==2: print('qux');print('quz')
else : print('garos');print('garruo')

garos
garruo

In [19]:
y = 2
if y ==1: 
    print('foo');
    print('yuu');
    print('kuy')
elif y ==2: 
    print('qux');
    print('quz')
else :
    print('garos');
    print('garruo')

qux
quz

# QUIS 2

In [ ]:
#QUIS 2

gaji = int(input("berapa gaji kamu? = "))
year = int(input("berapa year of service = "))
if year >= 10: 
    bonus = 0.1 * gaji
    total_gaji = gaji+bonus
    print("maka gaji kamu = ", total_gaji)
else :
    print("gak dapat bonus")

# Conditional Expression

In [22]:
raining = False
print("Ayo ke",'pantai') if not raining else 'Ke perpustakaan aja'

Ayo ke pantai

In [23]:
raining = True
print("Ayo ke",'pantai') if not raining else 'Ke perpustakaan aja'

'Ke perpustakaan aja'

In [25]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

# Perulangan While Loop

In [26]:
n = 5
while n > 0 :
    n -=1
    print(n)

4
3
2
1
0

In [4]:
i = 0
while i < 10 :
    i +=1
    print(i)
else :
    print('loop ended')

1
2
3
4
5
6
7
8
9
10
loop ended

In [6]:
# gabungan keduanya
# break yang digunakan untuk memberhentikan

n = 5
while n > 0 :
    n -=1
    print(n)
    if n == 2:
        break
else :
    print('loop done')

4
3
2

### menggabungkan i while dan if

In [3]:
n = 5
while n > 0 :
    n -=1
    if n == 1 :
        print('tinggal 1 nih ')
    else :
        print(n)

4
3
2
tinggal 1 nih
0

In [36]:
n = 7
while n > 0:
    n -=1
    if n ==2:
        break
    print(n)
print('berhenti')

6
5
4
3
berhenti

In [37]:
n = 7
while n > 0:
    n -=1
    if n ==2:
        continue
    print(n)
print('berhenti')

6
5
4
3
1
0
berhenti

## Else clause

In [38]:
n = 7
while n > 0:
    n -=1
    print(n)
else :
    print('sudah') #bisa menambahkan else gak ada di bahasa pemograman lain

6
5
4
3
2
1
0
sudah

In [41]:
n = 7
while n > 0:
    n -=1
    print(n)
    if n ==2:
        break #karena ada klausa break maka klausa else tidak dieksekusi
else :
    print('berhenti')

6
5
4
3
2

In [ ]:
while True:
    print('sayang')

## Nested If - Else Loops

In [11]:
age = 29
gender ='M'
if age < 18 :
    if gender == 'M':
        print('Son')
    else :
        print('Daughter')
elif age >= 40 and age <80 :
    if gender == 'M':
        print('Father')
    else :
        print('Mother')
else :
    if gender == 'M':
        print('Grandfather')
    else :
        print('Gandmother')

Grandfather

In [ ]:
# Nested While Loop
a = ['foo','bar']

while len(a):
    print(a.pop(0))
    b = ['baz','uu']
    while len(b):
        print('>', b.pop(0))

# For Loop

In [12]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [21]:
a = ['budi','jesa','dian']
for i in a:
    if i == 'jesa' :
        break
    for j in i :
            print(j)

b
u
d
i

In [19]:
a = ['budi','jesa','dian']
for i in a:
    print(i)

budi
jesa
dian

# Dictionary

In [28]:
dictionary_a = {'A': 'Bekasi' , 'B' : 'Jakarta' , 'C': 'Medan'}
for i in dictionary_a:
               print(dictionary_a[i])

Bekasi
Jakarta
Medan

In [29]:
dictionary_a['A']

'Bekasi'

In [33]:
for i in ['Aster', 'Jubah','Nambo', 'Hachi']:
    if 'b' in i:
        continue #iterasinya ngeskip
    print(i)

Aster
Hachi

In [34]:
for i in ['Aster', 'Jubah','Nambo', 'Hachi']:
    if 'b' in i:
        pass
    print(i)

Aster
Jubah
Nambo
Hachi

* loop itu keseluruhan iterasi objek 1 loop diatas 4 iterasi
* iterasi adalah untuk istilah untuk 1 putaran loop
* continue akan memberhentikan iterasi dan lanjut ke iterasi berikutnya
* break akan memberhentikan looping secara keseluruhan

In [35]:
#break
for i in ['Aster', 'Jubah','Nambo', 'Hachi']:
    if 'b' in i:
        break
    print(i)
else :
    print("loop done")

Aster

In [36]:
for i in ['Aster', 'Jubah','Nambo', 'Hachi']:
    print(i)
else :
    print("loop done")

Aster
Jubah
Nambo
Hachi
loop done

In [38]:
print(range(5))

range(0, 5)

In [47]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(i+j+k)

12
15
18

In [48]:
n = int(input())
for i in range(1,n+1):
    if i % 2 == 0 :
        print('genap :', i)
        continue
    print('ganjil : ', i)

20
ganjil :  1
genap : 2
ganjil :  3
genap : 4
ganjil :  5
genap : 6
ganjil :  7
genap : 8
ganjil :  9
genap : 10
ganjil :  11
genap : 12
ganjil :  13
genap : 14
ganjil :  15
genap : 16
ganjil :  17
genap : 18
ganjil :  19
genap : 20

In [54]:
#QUIS 3

i = 1
while i <=20:
    if i % 2 == 1 :
        print(i)
    else:
        print('genap')
    i+=1

1
genap
3
genap
5
genap
7
genap
9
genap
11
genap
13
genap
15
genap
17
genap
19
genap

In [79]:
a = int(input())
print()
for i in range(1,a+1):
    for j in range (1,i+1):
        print(j, end='')
    print()

10

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [76]:
a = int(input())
print()
  
for i in range(1,a+1):
  for j in range(1,i+1):
    print(j,' ',end='')
  print()

10

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
1  2  3  4  5  6
1  2  3  4  5  6  7
1  2  3  4  5  6  7  8
1  2  3  4  5  6  7  8  9
1  2  3  4  5  6  7  8  9  10

In [75]:
import pandas as pd

df = pd.DataFrame({
        'nama':['joni','meri','peter','japri','budi','lisa'],
        'umur':[23,78,22,19,12,33],
        'propinsi':['Sumatera Selatan','Jatim','DKI','Bali','Papua','NTT']
     })
df

    nama  umur          propinsi
0   joni    23  Sumatera Selatan
1   meri    78             Jatim
2  peter    22               DKI
3  japri    19              Bali
4   budi    12             Papua
5   lisa    33               NTT